
.navbar {
  background-color: #4a90d6;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.navbar_link {
  color: #ece5e5;
  text-decoration: none;
  font-size: 18px;
}

.navbar_link:hover {
  color: #dfe3e8;
  font-weight: 700;
}